*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}
header{
    margin-bottom:20px;
    text-align:center;
}

#task-form-section{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#task-form{
    display : flex;
    flex-wrap : wrap;
    gap: 10px;
}

#task-form input,
#task-form button {
    padding: 10px;
}
#task-form input {
    flex: 1;
    min-width: 150px ;
}
#task-form button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    flex-shrink:0;
    cursor:pointer;
    
}

#tasks-table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow:hidden;
}

#tasks-table th, #tasks-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
#tasks-table th {
   background-color: #007BFF;
   color:white
   
}
#tasks-table tr:nth-child(even){
    background-color: #f9f9f9;
}
.task-completed{
    text-decoration: line-through;
    color:gray;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.modal-content {
  background: white;
  padding: 20px;
  min-width: 300px;
  min-height: 200px;
  max-width: 90%;
  max-height: 90%;
  resize: both;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}




.modal textarea{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    resize: none;
    min-height: 100px;
    min-width: 100%;
}

.modal-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.hidden{
    display:none;
}


.notes-button{
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}



@keyframes fadeInScale{
    from{
        opacity: 0;
        transfor: scale(0.95);
    }
}

.modal-content {
    animation: fadeInScale 0.2s ease-out;
}

#subjects-view{
    margin-bottom: 20px;
}

#subjects-grid{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(160px, 1fr));
    gap : 10px;
    margin : 10px 0 10px;
}




.subject-title{

}


.subject-title:hover{

}

